# PROJECT OBJECTIVE: 
To Build a recommendation system using popularity based and collaborative filtering methods to recommend 
mobile phones to a user which are most popular and personalised respectively

1. Import the necessary libraries and read the provided CSVs as a data frame and perform the below steps.

A. Merge all the provided CSVs into one dataFrame.

In [1]:
import numpy as np
import pandas as pd
import math
import json
import time
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split
from sklearn.neighbors import NearestNeighbors

from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate
from surprise import KNNWithMeans
from surprise import accuracy
from surprise import Reader
import os


import warnings; warnings.simplefilter('ignore')
%matplotlib inline

In [2]:
import pandas as pd

df1 = pd.read_csv('C:\\Users\\vrooky-montzo\\Downloads\\Data Set\\Data Set\\phone_user_review_file_1.csv', encoding='latin-1')
df2 = pd.read_csv('C:\\Users\\vrooky-montzo\\Downloads\\Data Set\\Data Set\\phone_user_review_file_2.csv', encoding='latin-1')
df3 = pd.read_csv('C:\\Users\\vrooky-montzo\\Downloads\\Data Set\\Data Set\\phone_user_review_file_3.csv', encoding='latin-1')
df4 = pd.read_csv('C:\\Users\\vrooky-montzo\\Downloads\\Data Set\\Data Set\\phone_user_review_file_4.csv', encoding='latin-1')
df5 = pd.read_csv('C:\\Users\\vrooky-montzo\\Downloads\\Data Set\\Data Set\\phone_user_review_file_5.csv', encoding='latin-1')
df6 = pd.read_csv('C:\\Users\\vrooky-montzo\\Downloads\\Data Set\\Data Set\\phone_user_review_file_6.csv', encoding='latin-1')
df_all = [df1,df2,df3,df4,df5,df6]
df_phone = pd.concat(df_all)
df_phone

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Verizon Wireless,verizonwireless.com,10.0,10.0,As a diehard Samsung fan who has had every Sam...,CarolAnn35,Samsung Galaxy S8
1,/cellphones/samsung-galaxy-s8/,4/28/2017,en,us,Phone Arena,phonearena.com,10.0,10.0,Love the phone. the phone is sleek and smooth ...,james0923,Samsung Galaxy S8
2,/cellphones/samsung-galaxy-s8/,5/4/2017,en,us,Amazon,amazon.com,6.0,10.0,Adequate feel. Nice heft. Processor's still sl...,R. Craig,"Samsung Galaxy S8 (64GB) G950U 5.8"" 4G LTE Unl..."
3,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Samsung,samsung.com,9.2,10.0,Never disappointed. One of the reasons I've be...,Buster2020,Samsung Galaxy S8 64GB (AT&T)
4,/cellphones/samsung-galaxy-s8/,5/11/2017,en,us,Verizon Wireless,verizonwireless.com,4.0,10.0,I've now found that i'm in a group of people t...,S Ate Mine,Samsung Galaxy S8
...,...,...,...,...,...,...,...,...,...,...,...
163832,/cellphones/alcatel-ot-club_1187/,5/12/2000,de,de,Ciao,ciao.de,2.0,10.0,Weil mein Onkel bei ALcatel arbeitet habe ich ...,david.paul,Alcatel Club Plus Handy
163833,/cellphones/alcatel-ot-club_1187/,5/11/2000,de,de,Ciao,ciao.de,10.0,10.0,Hy Liebe Leserinnen und Leser!! Ich habe seit ...,Christiane14,Alcatel Club Plus Handy
163834,/cellphones/alcatel-ot-club_1187/,5/4/2000,de,de,Ciao,ciao.de,2.0,10.0,"Jetzt hat wohl Alcatell gedacht ,sie machen wa...",michaelawr,Alcatel Club Plus Handy
163835,/cellphones/alcatel-ot-club_1187/,5/1/2000,de,de,Ciao,ciao.de,8.0,10.0,Ich bin seit 2 Jahren (stolzer) Besitzer eines...,claudia0815,Alcatel Club Plus Handy
163836,/cellphones/alcatel-ot-club_1187/,4/25/2000,de,de,Ciao,ciao.de,2.0,10.0,"Was sich Alkatel hier wieder ausgedacht hat,sc...",michaelawr,Alcatel Club Plus Handy

1B. Explore, understand the Data and share at least 2 observations.

In [3]:
df_phone.shape

(1415133, 11)

In [4]:
df_phone.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1415133 entries, 0 to 163836
Data columns (total 11 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   phone_url  1415133 non-null  object
 1   date       1415133 non-null  object
 2   lang       1415133 non-null  object
 3   country    1415133 non-null  object
 4   source     1415133 non-null  object
 5   domain     1415133 non-null  object
 6   score      1351644 non-null  float64
 7   score_max  1351644 non-null  float64
 8   extract    1395772 non-null  object
 9   author     1351931 non-null  object
 10  product    1415132 non-null  object
dtypes: float64(2), object(9)
memory usage: 129.6+ MB

In [5]:
#Data has float and object values.
#some variable column has null/missing values.

In [6]:
df_phone.describe()

              score  score_max
count  1.351644e+06  1351644.0
mean   8.007060e+00       10.0
std    2.616121e+00        0.0
min    2.000000e-01       10.0
25%    7.200000e+00       10.0
50%    9.200000e+00       10.0
75%    1.000000e+01       10.0
max    1.000000e+01       10.0

1.C.Round off scores to the nearest integers.

In [7]:
# rounding of values and storing in new column
df_phone['NewScore']=df_phone['score'].round()
df_phone['NewScore']

0         10.0
1         10.0
2          6.0
3          9.0
4          4.0
          ...
163832     2.0
163833    10.0
163834     2.0
163835     8.0
163836     2.0
Name: NewScore, Length: 1415133, dtype: float64

In [8]:
df_phone['NewScore'].isnull().sum()

63489

In [9]:
df_phone['score_max'].isnull().sum()

63489

1D. Check for missing values. Impute the missing values, if any

In [10]:
df_phone.isna().sum()

phone_url        0
date             0
lang             0
country          0
source           0
domain           0
score        63489
score_max    63489
extract      19361
author       63202
product          1
NewScore     63489
dtype: int64

In [11]:
cols = ["NewScore","author",'product']
df_phone[cols]=df_phone[cols].fillna(df_phone.median().iloc[0])

In [12]:
df_phone.isna().sum()

phone_url        0
date             0
lang             0
country          0
source           0
domain           0
score        63489
score_max    63489
extract      19361
author           0
product          0
NewScore         0
dtype: int64

In [13]:
#since we are going to use just the three columns, viz, 'newscore', 'author', and 'product' for building recommendation engine 
#we go forward with just imputing those three columns.

1E. Check for duplicate values and remove them, if any

In [14]:
df_phone.duplicated().sum()

6412

In [15]:
df_phon = df_phone.drop_duplicates()

In [16]:
df_phon.duplicated().sum()

0

In [17]:
df_phon.shape

(1408721, 12)

1F. Keep only 1 Million data samples. Use random state=612.

In [18]:
data = df_phon.sample(n=1000000, random_state=612, axis=0)
data.head(20)

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product,NewScore
347247,/cellphones/nokia-6301/,2/21/2011,en,gb,Dooyoo,dooyoo.co.uk,10.0,10.0,This phone has lasted the test of time and has...,gilay28,Nokia 6301,10.0
80368,/cellphones/apple-iphone-4s/,13/1/2012,en,us,Amazon,amazon.com,10.0,10.0,"For years, I've been using Android phones. Fro...",Stacy G.,"Apple iPhone 4S Verizon Cellphone, 16GB, White",10.0
46940,/cellphones/samsung-galaxy-note-3-neo-4g-n7505/,8/21/2014,de,de,Amazon,amazon.de,10.0,10.0,Habe mir das Samsung Galaxy Note 3 Neo als Nac...,BulldoZer,"Samsung Galaxy Note 3 Neo Smartphone (13,94 cm...",10.0
283355,/cellphones/nokia-5030/,4/12/2010,en,us,HandCellPhone,handcellphone.com,6.0,10.0,nokia 5030 me game kesa dalay,vinod kumar,Nokia 5030,6.0
61365,/cellphones/huawei-p9-plus/,8/2/2016,it,it,Amazon,amazon.it,10.0,10.0,"Beh, dopo Iphone e Lumia sono passato al mondo...",Giorgio,"Huawei P9 Plus Smartphone, LTE, Display 5.5'' ...",10.0
114568,/cellphones/zte-zmax/,1/11/2015,en,us,Amazon,amazon.com,8.0,10.0,The zmax is a fantastic phone! I'll tell you w...,Amazon Customer,ZTE Z Max 2 16GB Unlocked GSM 4G LTE Quad-Core...,8.0
74871,/cellphones/samsung-galaxy-s-iii-neo-i9300i/,9/1/2015,pt,br,Submarino,submarino.com.br,8.0,10.0,"Gostei muito do produto. Fininho, lindo e bem ...",Rita Goes,Samsung Smartphone Samsung Galaxy S III Neo Du...,8.0
368948,/cellphones/samsung-galaxy-grand-prime/,6/3/2015,en,in,Amazon,amazon.in,6.0,10.0,Camera is good Quality,Amazon Customer,"Samsung Galaxy Grand Prime SM-G530H (White, 8GB)",6.0
105717,/cellphones/nokia-6170/,8/28/2007,es,uy,MercadoLibre Uruguay,opinion.mercadolibre.com.uy,8.0,10.0,"Durante los 2 aÃ±os que tube uno, me resulto m...",NEVORA,Nokia 6170,8.0
116453,/cellphones/lg-optimus-exceed-2/,5/30/2015,en,us,Amazon,amazon.com,10.0,10.0,I bought the LG optimus Exceed 2 to run perk T...,Lindsay Wong,LG Optimus Exceed 2 (Verizon Prepaid) (Discont...,10.0
355046,/cellphones/samsung-galaxy-s5/,4/21/2014,nl,be,KIESKEURIG,kieskeurig.be,6.0,10.0,Het geluid klinkt heel blikkerig!. vind dit ec...,erik vl,Samsung Galaxy S5 goud / 16 GB,6.0
46793,/cellphones/samsung-galaxy-note-3-neo-4g-n7505/,12/7/2014,fr,fr,Amazon,amazon.fr,6.0,10.0,C'est normal que le tÃ©lÃ©phone la nuis s'Ã©te...,Vincent W.,Samsung Galaxy Note 3 Neo Smartphone dÃ©bloquÃ...,6.0
91785,/cellphones/blu-neo-4-5/,2/24/2015,en,us,Amazon,amazon.com,6.0,10.0,warranty is hard to collect on. They count on ...,Amazon Customer,BLU NEO 4.5 Unlocked (White Black),6.0
311114,/cellphones/samsung-galaxy-s-iii/,8/4/2014,tr,tr,Cimri,cimri.com,NaN,NaN,bu Ã¼rÃ¼n iÃ§in bence bir ekran silici yapÄ±n,9.2,Samsung Galaxy S3 I9300 16 GB Beyaz Cep Telefonu,9.2
37306,/cellphones/samsung-wave-3/,11/25/2011,de,de,Amazon,amazon.de,8.0,10.0,Kleines Update nach Ã¼ber einem Jahr: Die Hard...,mueminer,Samsung Wave 3 S8600 Smartphone (10.2 cm (4 Zo...,8.0
187417,/cellphones/huawei-nova/,4/9/2017,de,de,Amazon,amazon.de,6.0,10.0,"Nova ist gutes Smartphone: Software, Kamera, U...",AmazonFan,"Huawei 51090UAU nova Smartphone (12,7 cm (5 Zo...",6.0
53220,/cellphones/apple-iphone-5s/,1/21/2014,ru,ru,Irecommend,irecommend.ru,10.0,10.0,ÐÑÐµÐ¼ Ð¿ÑÐ¸Ð²ÐµÑ! ÐÐ°Ð²Ð½Ð¾ ÑÑÐ¾-ÑÐ¾ ...,hmelevochka,Apple iPhone 5s,10.0
25345,/cellphones/motorola-moto-e/,10/4/2014,es,es,Amazon,amazon.es,8.0,10.0,Me ha parecido un mÃ³vil bastante aceptable pa...,juan,Lenovo Motorola Moto E - Smartphone libre Andr...,8.0
38409,/cellphones/nokia-e50/,5/22/2011,tr,tr,Tiklayaz,tiklayaz.com,NaN,NaN,ben bu tlfnu asla deÄiÅtirmeyi dÃ¼ÅÃ¼nmÃ¼yo...,bumudur,Nokia E50 (Metal Black) Cep Telefonu,9.2
76300,/cellphones/samsung-sgh-u600/,12/9/2009,nl,nl,Ciao,ciao-shopping.nl,8.0,10.0,Samsung SGH-U600 Een jaartje geleden moest ik ...,poelke,Samsung SGH U600,8.0

1G. Drop irrelevant features. Keep features like Author, Product, and Score.

In [19]:
# we can drop phone_url,date,lang,country,source,domain and extract since they do not contribute in deciding popularity. 
phone_df = data.drop(['score','source','lang','score_max','extract','date','phone_url','country','domain'],axis = 1)
phone_df.head(2)

          author                                         product  NewScore
347247   gilay28                                      Nokia 6301      10.0
80368   Stacy G.  Apple iPhone 4S Verizon Cellphone, 16GB, White      10.0

2A. Identify the most rated products.

In [20]:
grouped_multiple1 = phone_df.groupby(['product']).NewScore.agg(['count']).sort_values(by=['count'], ascending=False)
grouped_multiple1.head(20)

                                                    count
product
Lenovo Vibe K4 Note (White,16GB)                     3700
Lenovo Vibe K4 Note (Black, 16GB)                    3093
OnePlus 3 (Graphite, 64 GB)                          2889
OnePlus 3 (Soft Gold, 64 GB)                         2522
Huawei P8lite zwart / 16 GB                          1895
Samsung Galaxy Express I8730                         1889
Lenovo Vibe K5 (Gold, VoLTE update)                  1801
Samsung Galaxy S6 zwart / 32 GB                      1669
Nokia 5800 XpressMusic                               1518
Lenovo Vibe K5 (Grey, VoLTE update)                  1502
Nokia N95                                            1382
Lenovo Used Lenovo Zuk Z1 (Space Grey, 64GB)         1360
OnePlus 3T (Gunmetal, 6GB RAM + 64GB memory)         1342
Samsung Galaxy S7 edge 32GB (Verizon)                1286
Samsung Galaxy J3 (8GB)                              1283
Nokia N8                                             1252
Samsung Galaxy S7 edge 32GB (T-Mobile)               1243
Huawei P9 Lite Smartphone, LTE, Display 5.2'' F...   1227
Samsung Galaxy S6 edge zwart / 32 GB                 1214
Nokia 5800                                           1144

#the product 'Lenovo Vibe K4 Note (White,16GB) is found to be the most rated product.

2B. Identify the users with most number of reviews.

In [21]:
grouped_multiple2 = phone_df.groupby(['author']).NewScore.agg(['count']).sort_values(by=['count'], ascending=False)
grouped_multiple2.head(20)

                    count
author
Amazon Customer     54600
9.2                 43879
Cliente Amazon      13634
e-bit                5948
Client d'Amazon      5500
Amazon Kunde         3307
Anonymous            1946
einer Kundin         1885
einem Kunden         1379
unknown              1212
Anonymous            1014
ÐÐ»ÐµÐºÑÐ°Ð½Ð´Ñ    743
David                 719
Marco                 639
Ð¡ÐµÑÐ³ÐµÐ¹          634
Alex                  613
Andrea                589
ÐÐ¼Ð¸ÑÑÐ¸Ð¹        588
ÐÐ½Ð´ÑÐµÐ¹          526
ÐÐ»ÐµÐºÑÐµÐ¹        515

In [22]:
#The customer  named Amazon Customer is having the most number of reviews.

2C. Select the data with products having more than 50 ratings and users who have given more than 50 ratings. Report the shape of the final 
dataset

In [23]:
phone_df.shape

(1000000, 3)

In [24]:
copy = phone_df.copy()
copy.shape

(1000000, 3)

In [25]:

data1 = copy
#how many times a product is rated
data1['ProductRatingCount']=data1['NewScore'].groupby(data1['product']).transform('count')
print(data1.head())
#how many times a customer has reviewd

#data1.query('product=="LG Nexus 5 D820 Unlocked Cellphone, 16GB, Black"')
data1['AuthorRatingCount']=data1['NewScore'].groupby(data1['author']).transform('count')

#data1.query('author=="Jose G."')

finalDataset = data1.query('ProductRatingCount > 50 and AuthorRatingCount>50')
#Report the shape of the final dataset
finalDataset.shape

             author                                            product  \
347247      gilay28                                         Nokia 6301
80368      Stacy G.     Apple iPhone 4S Verizon Cellphone, 16GB, White
46940     BulldoZer  Samsung Galaxy Note 3 Neo Smartphone (13,94 cm...
283355  vinod kumar                                         Nokia 5030
61365       Giorgio  Huawei P9 Plus Smartphone, LTE, Display 5.5'' ...

        NewScore  ProductRatingCount
347247      10.0                  62
80368       10.0                  46
46940       10.0                  41
283355       6.0                  67
61365       10.0                  46

(129477, 5)

In [26]:
#from 1,000,000 rowed columns we were able to drop the size to 129,478 rows after filtering.

In [27]:
finalDataset.head(20)

,author,product,NewScore,ProductRatingCount,AuthorRatingCount
114568,Amazon Customer,ZTE Z Max 2 16GB Unlocked GSM 4G LTE Quad-Core...,8.0,154,54600
25345,juan,Lenovo Motorola Moto E - Smartphone libre Andr...,8.0,105,77
26725,9.2,Nokia 6131,10.0,440,43879
129841,9.2,HTC Desire 610,10.0,51,43879
350506,Amazon-Kunde,"Samsung Galaxy S5 Smartphone (5,1 Zoll (12,9 c...",8.0,467,378
62555,Michael,LG G2 D800 GSM 4G LTE Unlocked Smartphone with...,8.0,345,448
271105,9.2,Nokia E52,10.0,682,43879
34654,einer Kundin,"Samsung Galaxy S7 Smartphone, 12,9 cm (5,1 Zol...",10.0,731,1885
33005,9.2,LG Optimus One P500,10.0,520,43879
40012,einer Kundin,"Apple iPhone 7 Plus 5,5"" 128 GB",10.0,278,1885
357155,Amazon Customer,"Samsung Galaxy J7 Prime (Black, 16GB)",10.0,75,54600
358241,Andrea,"Asus ZenFone Go 5"" Smartphone, 8 GB, Dual SIM,...",10.0,126,589
176678,Giuseppe,"Huawei P8 Lite Smartphone, Display 5"" IPS, Pro...",8.0,1139,279
169668,9.2,Xiaomi Redmi Note 3 Pro 32Gb,10.0,60,43879
107797,ÐÐ³Ð¾ÑÑ,Samsung S5570 Galaxy Mini,10.0,65,242
43742,9.2,HTC One S,8.0,504,43879
22720,Amazon Customer,Apple iPhone 6s Plus Unlocked GSM 4G LTE Smart...,6.0,106,54600
70413,Amazon Customer,"OnePlus 3 (Soft Gold, 64 GB)",10.0,2522,54600
3281,maurizio,"Nokia Lumia 630 Dual-SIM Smartphone, Display 4...",8.0,51,56
99661,UK Guest,Samsung SGH-D500,10.0,59,108

In [28]:
#the dataset is reduced row wise and increased column wise as we have added two extra columns to get the AuthorRatingCount and ProductRatingCount

3. Build a popularity based model and recommend top 5 mobile phones.

In [29]:
finalDataset.head(10)

,author,product,NewScore,ProductRatingCount,AuthorRatingCount
114568,Amazon Customer,ZTE Z Max 2 16GB Unlocked GSM 4G LTE Quad-Core...,8.0,154,54600
25345,juan,Lenovo Motorola Moto E - Smartphone libre Andr...,8.0,105,77
26725,9.2,Nokia 6131,10.0,440,43879
129841,9.2,HTC Desire 610,10.0,51,43879
350506,Amazon-Kunde,"Samsung Galaxy S5 Smartphone (5,1 Zoll (12,9 c...",8.0,467,378
62555,Michael,LG G2 D800 GSM 4G LTE Unlocked Smartphone with...,8.0,345,448
271105,9.2,Nokia E52,10.0,682,43879
34654,einer Kundin,"Samsung Galaxy S7 Smartphone, 12,9 cm (5,1 Zol...",10.0,731,1885
33005,9.2,LG Optimus One P500,10.0,520,43879
40012,einer Kundin,"Apple iPhone 7 Plus 5,5"" 128 GB",10.0,278,1885

In [30]:
#Since this model has to be built on popularity ie the customer ratings the data is grouped based on most rated products.
finalDataset.groupby('product')['NewScore'].mean().sort_values(ascending=False).head()

product
3220                                                                                                                                          10.0
Apple iPhone 6S 16GB Black                                                                                                                    10.0
Smartphone Samsung Galaxy S4 Mini Duos Preto com Dual Chip, Tela 4.3", Android 4.2, CÃ¢mera 8MP e Processador Dual Core de 1.7 Ghz - Claro    10.0
Apple iPhone 5c (Blue, 8GB)                                                                                                                   10.0
Nokia Smartphone Nokia Lumia 520 Desbloqueado Oi Windows Phone 8 Tela...                                                                      10.0
Name: NewScore, dtype: float64

In [31]:

final_grouped = finalDataset.groupby('product')['NewScore'].count().sort_values(ascending=False)

final_grouped.head(5)

product
Lenovo Vibe K4 Note (White,16GB)       2190
Lenovo Vibe K4 Note (Black, 16GB)      1827
OnePlus 3 (Graphite, 64 GB)            1303
OnePlus 3 (Soft Gold, 64 GB)           1234
Lenovo Vibe K5 (Gold, VoLTE update)    1126
Name: NewScore, dtype: int64

In [32]:
# The five top products that are recommended will be same for any user as it is a recommendation model based on popularity without considering the individual interest.

Collaborative Filtering

4. Build a collaborative filtering model using SVD. You can use SVD from surprise or build it from scratch(Note: Incase you’re building it from scratch you 
can limit your data points to 5000 samples if you face memory issues). Build a collaborative filtering model using kNNWithMeans from surprise. You 
can try both user-based and item-based model

5. Evaluate the collaborative model. Print RMSE value. 
6. Predict score (average rating) for test users.

In [33]:
#KNNWithMeans
from surprise import KNNWithMeans
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
import os
from surprise.model_selection import train_test_split


KNN_data= finalDataset[['author', 'product','NewScore']].copy()
KNN_data

# load data
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(KNN_data,reader)
# split the dataset
trainset, testset = train_test_split(data, test_size=0.3,random_state=10)

In [34]:
#item-based
algo = KNNWithMeans(k=5, sim_options={'name': 'pearson_baseline', 'user_based': False})
algo.fit(trainset)
# Predict score (average rating) for test users
test_pred = algo.test(testset)
test_pred
print("Item-based Model : Test Set")
#5. Evaluate the collaborative model. Print RMSE value
print(accuracy.rmse(test_pred, verbose=True))

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Item-based Model : Test Set
RMSE: 4.0209
4.020948431229767

In [35]:
# user-based
from surprise.model_selection import train_test_split
trainset, testset = train_test_split(data, test_size=0.3,random_state=10)
algo = KNNWithMeans(k=5, sim_options={'name': 'pearson_baseline', 'user_based': True})
algo.fit(trainset)
test_pred = algo.test(testset)
print (test_pred)
print("User-based Model : Test Set")
accuracy.rmse(test_pred, verbose=True)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

4.0320503190110815

In [36]:
#SVD from Surprise

# load data

SVD_data = finalDataset[['author', 'product','NewScore']].copy()
SVD_data

reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(SVD_data,reader)
trainset, testset = train_test_split(data, test_size=.25)
algo = SVD()
algo.fit(trainset)
predictions = algo.test(testset)
accuracy.rmse(predictions)

RMSE: 3.9943

3.994276500395522

In [37]:
#9. Try other techniques (Example: cross validation) to get better results. [
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    3.9796  3.9992  3.9859  3.9748  3.9829  3.9845  0.0082
MAE (testset)     3.7138  3.7342  3.7183  3.7048  3.7146  3.7171  0.0096
Fit time          7.89    8.25    8.23    8.03    8.31    8.14    0.16
Test time         0.36    0.23    0.15    0.34    0.26    0.27    0.08

{'test_rmse': array([3.97955604, 3.99916094, 3.98587009, 3.97483484, 3.98294678]),
 'test_mae': array([3.71376515, 3.73417678, 3.71827565, 3.70482794, 3.71459716]),
 'fit_time': (7.8896424770355225,
  8.246095657348633,
  8.23477554321289,
  8.033441066741943,
  8.311364889144897),
 'test_time': (0.36397838592529297,
  0.22690606117248535,
  0.15393567085266113,
  0.34392738342285156,
  0.2607612609863281)}

7. Report your findings and inferences
ans : Lenovo Vibe K4Note(White,16 GB, ) is the most popular product which is perhaps a bit biased because of popularity.Only a very small fraction of products have lots of user interactions while a large fraction of products dont have. High frequency items tend to be relatively competetive items with little profit for the merchant.the recommender does not recommend new or less known items because of less user interactions.

8. Try and recommend top 5 products for test users.

In [38]:
#Convert List to Dataframe
df_test_pred=pd.DataFrame(test_pred)
#df_test_pred.groupby(df_test_pred['uid'])
df_test_pred

,uid,iid,r_ui,est,details
0,Jose,Motorola Moto G (3Âª GeneraciÃ³n) + Carcasa Of...,10.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
1,Alessandro,"Alcatel One Touch Idol 3 Smartphone, 4.7"", Dua...",8.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
2,Frank,Huawei P8 Champagne / 16 GB - Overzicht,9.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
3,Amazon Customer,"Lenovo Used Lenovo Zuk Z1 (Space Grey, 64GB)",2.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
4,Amazon Customer,"Honor 6X (Silver, 32GB)",2.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
...,...,...,...,...,...
38839,9.2,Sony Ericsson P990i,2.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
38840,Anonymous,Samsung Galaxy S7 32GB (Verizon),10.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
38841,tony,Asus ZenFone 3 Laser 5.5-inch Glacier Silver [...,2.0,5.0,"{'actual_k': 0, 'was_impossible': False}"
38842,ÐÐ»Ð°Ð´Ð¸Ð¼Ð¸Ñ,Sony Xperia M (Ð±ÐµÐ»ÑÐ¹),9.2,5.0,"{'actual_k': 5, 'was_impossible': False}"
38843,Manuel,"Nokia Lumia 625 Smartphone, Bianco [Italia]",10.0,5.0,"{'actual_k': 5, 'was_impossible': False}"

In [39]:
#Sort by uid Ascending and r_ui (rating) descending 
df_test_pred=df_test_pred.sort_values(by = ['uid', 'r_ui'], ascending = [True, False], na_position = 'last')
df_test_pred

,uid,iid,r_ui,est,details
21,9.2,LG Optimus One P500,10.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
29,9.2,Sony Xperia SL,10.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
32,9.2,Nokia 6500 Classic,10.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
43,9.2,Sony Ericsson W580i,10.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
44,9.2,Samsung S5830i Galaxy Ace Pure White [Android ...,10.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
...,...,...,...,...,...
20005,Ð®ÑÐ¸Ð¹,Apple iPhone 5s 16GB (ÑÐµÑÑÐ¹ ÐºÐ¾ÑÐ¼Ð¾Ñ),7.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
28265,Ð®ÑÐ¸Ð¹,Sony Xperia ZR (ÑÐµÑÐ½ÑÐ¹),7.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
27016,Ð®ÑÐ¸Ð¹,Apple iPhone 5s 16GB (ÑÐµÑÐµÐ±ÑÐ¸ÑÑÑÐ¹),6.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
4712,Ð®ÑÐ¸Ð¹,Lenovo A2010 (Ð±ÐµÐ»ÑÐ¹),3.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
22612,Ð®ÑÐ¸Ð¹,Nokia X6 8GB,2.0,5.0,"{'actual_k': 5, 'was_impossible': False}"

In [40]:
#Group By uid 
df_test_pred_grouped=df_test_pred.groupby(df_test_pred['uid'])

In [41]:
#In every Group of users Getting the top 5
top_5_recommendations=df_test_pred_grouped.head(n=5)

In [42]:
df_test_pred_grouped.groups

{9.2: [21, 29, 32, 43, 44, 48, 49, 58, 79, 86, 87, 101, 113, 118, 120, 131, 135, 137, 146, 153, 158, 159, 168, 169, 175, 179, 202, 207, 230, 234, 240, 245, 273, 276, 280, 286, 287, 289, 295, 307, 323, 328, 336, 365, 367, 371, 372, 373, 379, 382, 399, 431, 437, 441, 458, 475, 480, 489, 490, 503, 505, 507, 508, 514, 519, 520, 522, 542, 556, 557, 569, 571, 572, 578, 579, 627, 642, 645, 670, 671, 707, 710, 714, 721, 729, 740, 752, 762, 765, 771, 789, 809, 815, 817, 829, 830, 837, 849, 856, 858, ...], '#': [398, 4055, 4211, 7914, 11896, 11954, 15825, 18372, 22170, 22461, 23027, 24843, 25326, 27084, 36135, 37148, 38240, 726, 2788, 7807, 8634, 9189, 10972, 13545, 15229, 17344, 23322, 23820, 28855, 29160, 29331, 29511, 30627, 30832, 32128, 36160, 38659, 15272, 21826, 31363, 32337], '????????': [401, 4388, 4955, 9005, 9053, 13604, 16764, 19432, 19441, 22897, 23546, 24393, 25531, 29893, 31267, 33043, 33612, 34326, 34970, 35039, 3516, 10843, 32599, 37222, 2318, 16129, 25234, 28565, 32896, 7992, 37106, 38753, 20904, 33206, 17877, 33160, 8468], '??????????': [7286, 9499, 13238, 18127, 20766, 21533, 22115, 22299, 22595, 22691, 23339, 23505, 27497, 27529, 28117, 29993, 30225, 31188, 33041, 34508, 35001, 36067, 37113, 15059, 28413, 30199, 5116, 6522, 8662, 16540, 29261, 35134, 4633, 13837, 20333, 20375, 25984, 26846, 27503, 27916, 34599, 18294, 2511, 11606, 17590, 35222], '????????????': [1313, 7708, 9165, 9839, 20290, 29355, 33560, 34016, 35789, 35975, 36246, 36693, 13002, 17922, 22307, 1544, 5085, 8496, 10343, 19421, 37095, 21347, 25684, 27551, 33679, 33398, 26034, 33803, 34562], '???????????? ????????': [7671, 8396, 11367, 12105, 21367, 22635, 24289, 28336, 34525, 8055, 14702, 22484, 8419, 10209, 31098, 13794], '???????????? ??????????': [715, 9758, 25388, 29977, 20248, 23156, 33141, 36526, 36014, 22197, 27384], '???????????? ??????????????': [4159, 13691, 21400, 23986, 36376, 38476, 3638, 4230, 14879, 32583, 15782, 23425, 31981, 12009, 14990], '??????????????': [821, 1995, 4685, 6623, 10593, 16917, 17273, 17361, 21567, 28620, 28759, 30220, 30814, 31623, 36642, 38018, 38085, 20, 1971, 8823, 11389, 36477, 15387, 19663, 21832, 30636, 34091, 6642, 14001, 15047, 27750, 28266, 30663, 33923, 23901, 17747, 7982, 12205], '?????????????? ??????????': [4720, 5882, 10999, 11849, 24970, 25018, 30940, 34224, 38195, 10289, 16264, 26945, 34120, 38774, 13629, 35229, 13122, 17878, 30900], '?????????????? ????????????': [5443, 6575, 8036, 10109, 17287, 19891, 21540, 23866, 28928, 11293, 12295, 13997, 32880, 36553, 3125, 7501, 4155], '?????????????? ??????????????': [1700, 3473, 20539, 22562, 27233, 32115, 34159, 5365, 20586, 30316, 30579, 38066, 13449, 8467, 15314, 29782, 22391, 27973], '????????????????': [25315, 27676, 30167, 31464, 37967, 17585, 26832, 35367, 28314, 20621], '???????????????? ??????????????': [12983, 19908, 24686, 34370, 38100, 5895, 8494, 29501, 31965, 11440, 14820, 22950], '?????????????????': [792, 1142, 2437, 7819, 10701, 15806, 28893, 30522, 31800, 32048, 37254, 33623, 33738, 10813, 21134, 32405, 27235, 5728, 28542, 13835], '?????????????': [4333, 4513, 20585, 30223, 33354, 36806, 8965, 27137, 28876], '???????????': [5054, 8271, 20524, 29952, 30082, 32143, 34869, 38005, 22527, 11509, 15516, 16779, 21230, 24391, 31198, 33262], '???????????': [279, 1140, 15230, 17221, 20094, 21868, 28734, 31092, 36449, 16698, 22402, 28440, 32836, 16089, 33186, 13337, 30509, 20192, 26511], '?????????': [19344, 21942, 22134, 28954, 32945, 36849, 14184, 4946, 8114, 14671, 19179], 'AJ': [478, 5419, 10567, 24512, 34034, 17316, 25450, 28642, 2765, 32086], 'Aaron': [7079, 9717, 15966, 20456, 26522, 1040, 7363, 10606], 'Abhishek': [1027, 7691, 19171, 25732, 27011, 33475, 6487, 21278, 22407, 29079], 'Adam': [1136, 6455, 17819, 18509, 19406, 20677, 25028, 32685, 34791, 17373, 1859, 7166, 11081, 14998, 15103, 34039, 28506], 'Adrian': [4316, 6023, 13102, 19937, 22970, 23711, 33894, 36921, 37473, 31836, 8570, 18156, 19514, 21209, 21508, 36518, 408, 20113, 34121], 'Aksisey': [1109, 5460, 7811, 8132, 9142, 9352, 9614, 15386, 16444, 23157, 23255, 23626, 26031, 26269, 27749, 28521, 28905, 33947, 34180, 35131, 36415, 36520, 36561, 36830, 36983, 37509, 37656, 38410, 38811], 'Al': [1408, 2756, 9898, 14693, 20642, 25426, 38805, 6284], 'Alan': [4244, 6324, 7960, 16762, 19783, 21306, 22973, 36855, 13954, 19108, 28735, 23063, 38689], 'Albert': [17390, 18895, 23592, 32907, 730, 28186, 5207, 17063], 'Alberto': [951, 3278, 3732, 6267, 6377, 8251, 8518, 8883, 10719, 10857, 11242, 11571, 13601, 14648, 15828, 15885, 17636, 20357, 27580, 29161, 29245, 29422, 30786, 36802, 37721, 1310, 7731, 11908, 12106, 12525, 16361, 18718, 20879, 23925, 29039, 31064, 31354, 33232, 38687, 2479, 3556, 13504, 21760, 23254, 27382, 27625, 30516, 33735, 1599, 12935, 34848], 'Ale': [5453, 30667, 33329, 1669, 2156, 9546, 29796, 35447, 38055, 11158, 15460, 35811, 22438], 'Alejandro': [3080, 3476, 6827, 10870, 14131, 17143, 23529, 34662, 16525, 18533, 11704, 29263, 3174, 27759], 'Alessandra': [2123, 11105, 12456, 13091, 14385, 17029, 23909, 25654, 33172, 11846, 16036, 28338], 'Alessandro': [98, 647, 4219, 7296, 8128, 9334, 11218, 11316, 11422, 13870, 13962, 14089, 14471, 14914, 15684, 16329, 16880, 17276, 18631, 19239, 19826, 23432, 23663, 24301, 25370, 25784, 26729, 26756, 28111, 28479, 33494, 33705, 33801, 35372, 35633, 36104, 36450, 36623, 36734, 37438, 38377, 38538, 38578, 6666, 8771, 30716, 1, 479, 1849, 11453, 12258, 12737, 13151, 15448, 15705, 16506, 16846, 17821, 18132, 19993, 20055, 20421, 23889, 24001, 36727, 37100, 38385, 10128, 18663, 18889, 31471, 35171, 17711, 19183, 20528, 31820], 'Alessio': [1895, 6334, 7593, 12651, 14656, 16851, 22766, 23312, 24921, 25148, 26935, 30607, 37324, 38723, 36746, 1096, 17144, 20032, 23991, 31034, 35756, 37665, 15038], 'Alex': [2825, 4083, 5557, 5668, 8837, 10287, 11093, 11520, 12015, 12670, 12822, 13204, 13594, 14312, 14734, 16600, 17445, 20262, 20275, 21501, 23474, 25742, 26918, 28687, 28836, 29744, 30125, 30226, 31295, 31364, 31777, 32009, 32914, 33077, 33351, 34633, 34659, 37821, 38233, 11616, 21885, 2269, 5183, 9658, 18417, 19735, 21989, 26045, 34716, 37318, 864, 1228, 3771, 5490, 18567, 25117, 26871, 30159, 31409, 32008, 32908, 34592, 37881, 38078, 4390, 8727, 17918, 18639, 345, 10758, 24212, 30483, 30640, 33987], 'Alexander': [3808, 14600, 15514, 17524, 19709, 24541, 26085, 26933, 37682, 38329, 38690, 38712, 28835, 11866, 32401, 16248, 2531, 8636, 27437], 'Alexandra': [6325, 15596, 19511, 25679, 27850, 30963, 11117, 19827, 35901], 'Alfonso': [1780, 3284, 11142, 17265, 33274, 25874, 37959], 'Alfredo': [16082, 27236, 31468, 8580], 'Ali': [165, 26506, 35793, 5105, 14513, 33171, 19934, 24133, 23690, 33941, 8590, 37559, 22247, 24498], 'Alias': [33823, 20751, 29701, 21224, 27386], 'Alvaro': [747, 15640, 22336, 37434, 19172, 19911, 34457, 9532, 38110], 'Amanda': [10215, 20212, 37111, 23125, 23151, 33908], 'Amazon Customer': [22, 35, 37, 47, 53, 56, 59, 62, 69, 71, 73, 77, 83, 88, 94, 96, 106, 114, 115, 121, 128, 130, 133, 151, 156, 163, 172, 185, 188, 195, 209, 212, 222, 224, 226, 238, 255, 258, 277, 291, 294, 298, 301, 315, 319, 322, 331, 344, 352, 353, 357, 358, 374, 376, 383, 394, 405, 417, 420, 432, 438, 447, 450, 452, 455, 464, 466, 467, 469, 472, 483, 501, 512, 532, 539, 551, 554, 563, 580, 587, 589, 591, 594, 607, 608, 609, 610, 646, 648, 649, 650, 653, 658, 668, 682, 692, 693, 704, 708, 711, ...], 'Amazon Kunde': [75, 167, 225, 553, 786, 1218, 1507, 1572, 1675, 1805, 1922, 2098, 2178, 2204, 2240, 2265, 2270, 2284, 2374, 2631, 2694, 2821, 2862, 2931, 2982, 3001, 3098, 3203, 3379, 3424, 3663, 3709, 4047, 4089, 4103, 4223, 4277, 4327, 4423, 4522, 4638, 4641, 4643, 4760, 4838, 4911, 4913, 5030, 5036, 5037, 5348, 5598, 5629, 5755, 5864, 6138, 6238, 6341, 6367, 6443, 6856, 6929, 6936, 6992, 7263, 7380, 7454, 7465, 7476, 7559, 7870, 7915, 8009, 8153, 8306, 8368, 8456, 8523, 8663, 8707, 8854, 8897, 9009, 9118, 9127, 9159, 9385, 9503, 9639, 9911, 10035, 10092, 10094, 10145, 10173, 10489, 10550, 10775, 11028, 11223, ...], 'Amazon Kundenrezensionen': [1281, 1882, 9980, 19104, 37590, 38207, 26892], 'Amazon-Kunde': [448, 1635, 1647, 2252, 2674, 3788, 4408, 8603, 9085, 9448, 9611, 10324, 10636, 13413, 14051, 14271, 14313, 14495, 14687, 15502, 16539, 19193, 19298, 20181, 20594, 23643, 23700, 23871, 24442, 25546, 27444, 28067, 28204, 31931, 32594, 33191, 33313, 33643, 37028, 37766, 37794, 14880, 21860, 22840, 24107, 29147, 29686, 32911, 33970, 34164, 8327, 9514, 13285, 18578, 25406, 2026, 7693, 25795, 26183, 28884, 33031, 1024, 2277, 5657, 11623, 12970, 13821, 15194, 18302, 26551, 31239], 'Amit': [7, 14825, 31905, 37059, 38243, 38663, 31897, 36345, 2321, 8178, 15183, 30575], 'Amy': [15489, 28689, 30958, 32928, 20512, 2818, 15693, 37761, 11333, 5528], 'Ana': [4210, 6462, 7371, 11921, 17710, 18748, 19135, 23818, 32334, 33088, 9138, 12249, 3146, 14417, 32733, 15656, 28278], 'Andi': [15687, 20860, 26271, 27977, 30314, 30675, 38500, 29323, 2350, 9899, 16556, 22795, 782, 34042, 37555, 34976], 'Andre': [6251, 17075, 23533, 23600, 24797, 35412, 35333, 2260, 1087, 14091, 16664], 'Andrea': [263, 339, 477, 823, 2532, 4939, 5201, 5402, 6824, 6927, 9396, 10437, 11004, 11277, 11423, 12702, 13173, 13234, 13580, 14023, 14403, 14684, 14781, 15941, 15987, 16611, 16802, 17094, 21116, 21421, 21946, 22181, 22886, 23446, 23530, 24287, 24443, 25288, 25604, 25902, 26363, 26406, 27144, 27694, 28769, 29532, 31026, 32062, 32654, 32958, 33144, 33523, 34081, 34314, 35031, 35396, 35584, 36223, 36867, 37046, 37137, 37471, 37602, 37762, 38561, 38569, 4953, 27666, 4119, 5526, 7869, 11802, 13277, 15625, 17277, 18694, 19657, 23837, 25508, 25771, 25947, 30010, 31302, 33541, 34663, 34891, 35126, 38089, 38783, 19513, 21118, 23620, 23932, 27296, 29648, 32131, 32117, 5468, 10610, 17888, ...], 'Andreas': [1361, 5855, 6176, 7434, 8377, 10352, 15030, 15631, 19714, 20171, 23586, 26659, 32351, 36270, 37840, 6667, 11871, 13698, 15837, 16538, 30596, 204, 10530, 33296, 16284, 13407, 13382], 'Andres': [13227, 26285, 25351, 14683, 29850, 6692, 12330, 33364], 'Andrew': [1105, 2144, 2989, 5782, 6860, 12700, 16038, 18022, 19190, 22981, 26266, 27227, 27475, 28490, 29980, 30985, 35677, 37963, 12929, 4189, 7117, 11901, 18908, 20952, 27518, 790, 14695, 18521, 23321, 31169, 31457, 36859, 1441, 10329, 35903, 32841, 12224, 17716, 20784], 'Andy': [9391, 10217, 23364, 23451, 26787, 30141, 31015, 34611, 34682, 37375, 12225, 19069, 11960, 14115, 25701, 26436, 4022, 7208, 15455, 20193, 31964, 38539, 38676], 'Angel': [5967, 8400, 14571, 24968, 25157, 26491, 27939, 31469, 32236, 38084, 17006, 36551, 17857], 'Angela': [148, 1405, 7975, 15218, 24533, 33579, 36115, 38069, 32110, 16832, 22980, 36813, 13810, 29720], 'Angelo': [2615, 5235, 10202, 11089, 12454, 14966, 15495, 25003, 27594, 29266, 29335, 37577, 3704, 18866, 21382, 32158, 38109, 11564], 'Anita': [4592, 22614, 24631, 25661, 32637, 32658, 38678, 11641, 28317, 31902], 'Anja': [35304, 16235, 24641, 12561, 6451, 11349, 21044, 36990], 'Ann': [7366, 11535, 24196, 25167, 26552, 9787, 2474, 8660, 15199], 'Anna': [3210, 14374, 14797, 18592, 20307, 20471, 23462, 24215, 25524, 25698, 27980, 28588, 32282, 32840, 34621, 35784, 36521, 38228, 3580, 34107, 37749, 5952, 15471, 23267, 24197, 28513, 29270, 29577, 32329, 33306, 12086, 18645, 34371, 12250, 22074, 32204], 'Anne': [7794, 12175, 17171, 29306, 31577, 18603, 8920, 15012, 17615, 18900], 'Anoniem': [23060, 1910, 12649, 23787, 35501, 37891, 4132, 5440, 7612, 16204, 21129], 'Anonym': [1532, 7062, 13255, 15587, 15879, 18423, 29094, 12432, 14875, 33488, 37321, 3130, 8382, 11126, 21419, 33208, 33282, 8488, 16527], 'Anonyme': [463, 1660, 2221, 2632, 2736, 4108, 4128, 5022, 5333, 8162, 8243, 9481, 9553, 10373, 10543, 10645, 12938, 13185, 13442, 13515, 14227, 14398, 16404, 17675, 18418, 19118, 21145, 21872, 23017, 23074, 23483, 23938, 24280, 24449, 24967, 26365, 27969, 29632, 31403, 31982, 32547, 32837, 32988, 33175, 33310, 33697, 33842, 35650, 36404, 37288, 37816, 28066, 1333, 25991, 6798, 15561, 17247], 'Anonymous': [409, 836, 1043, 1382, 1439, 1796, 1817, 2080, 2872, 2934, 3997, 4077, 4245, 4997, 5117, 5730, 6025, 6528, 6956, 7134, 7353, 7645, 7908, 8349, 8780, 8830, 9057, 10075, 10976, 11873, 12270, 12285, 13846, 13881, 14753, 15135, 15570, 16667, 18173, 18484, 18548, 18925, 18987, 19424, 19752, 19787, 19986, 20006, 21449, 21503, 21921, 22517, 22542, 22653, 23132, 23883, 23972, 24054, 25105, 25354, 25462, 25545, 25712, 25805, 26179, 27830, 28231, 28268, 28309, 28637, 28640, 28704, 28755, 29172, 29399, 30791, 31168, 32436, 32502, 32763, 33472, 34160, 34333, 34570, 35769, 37841, 38101, 1343, 1858, 2322, 2838, 5098, 5343, 9606, 10588, 14740, 18565, 20483, 21882, 22328, ...], 'Anonymous ': [52, 318, 332, 459, 662, 722, 794, 894, 974, 1198, 1368, 1646, 2126, 2295, 2558, 2679, 3068, 3204, 3368, 3660, 3702, 3975, 4379, 4506, 4835, 4847, 4869, 5015, 5211, 5239, 5488, 5896, 6028, 6104, 6196, 6629, 6648, 6741, 7180, 7585, 7930, 8165, 8386, 9018, 9268, 9415, 9868, 9942, 9969, 10232, 10270, 10806, 11262, 11523, 11548, 11585, 11736, 12188, 12278, 12490, 12577, 12886, 12912, 12951, 13193, 13565, 13585, 13857, 14010, 14185, 14613, 14763, 14803, 14810, 15040, 15089, 15220, 15443, 15458, 15738, 15813, 16110, 16151, 16456, 16504, 16665, 16872, 16965, 16973, 17397, 17440, 17923, 17965, 18023, 18049, 18224, 18391, 18441, 19010, 19276, ...], 'Anthony': [1914, 2998, 11803, 22204, 27596, 31422, 32577, 38009, 8149, 13211, 16582, 21938, 24682, 32411, 5089, 35755, 37269], 'Antonio': [1373, 1466, 2202, 7500, 9457, 9576, 11997, 17412, 17458, 17533, 19779, 20926, 22905, 24243, 26093, 26314, 28385, 29566, 29659, 30936, 31479, 32135, 32224, 36452, 37054, 37070, 37182, 38760, 1623, 1904, 5691, 8680, 9487, 16283, 17136, 18589, 23688, 23833, 26895, 28431, 32216, 32620, 34125, 34626, 35467, 35641, 37651, 37755, 4431, 14477, 22313, 27303, 28355, 9967, 23524, 37582, 38105], 'AnÃ³nimo ': [13903, 14872, 23853, 29557, 33491, 35244, 23899, 27584, 35420, 6916, 7076, 24134, 19295], 'AnÃ´nimo': [581, 2938, 5151, 6225, 7538, 10737, 12972, 14510, 15025, 15338, 16859, 18732, 20672, 21226, 22127, 23670, 24086, 25213, 25856, 26443, 26696, 28708, 29386, 32961, 37349, 4717, 4945, 12922, 13213, 35717, 8535, 13174, 24279, 486, 33759], 'Arun': [8085, 19044, 20386, 28065, 15594, 21685, 31722, 10454, 15276, 35175, 19374], 'Ashley': [4816, 12019, 14255, 20062, 23633, 26305, 29112, 32676, 35747, 36009, 37514, 1181, 28730, 14619, 24310, 29357], 'B': [11266, 32816, 36250, 36979, 29923, 19379, 30625], 'Barbara': [239, 6938, 13026, 14030, 19200, 22382, 34579, 4807, 21438, 25321, 30731, 36582, 37012, 7821, 13061, 2029, 29159], 'Bart': [2441, 2755, 20920, 23406, 27391, 37763, 25468, 34947, 35029], 'Ben': [1790, 2390, 2787, 2878, 6744, 8951, 11554, 20225, 22500, 24698, 25542, 28627, 29051, 31010, 31335, 38798, 22355, 4821, 30673, 11900, 18649, 20218, 25774, 2319, 8915, 30905, 37885], 'Benjamin': [2908, 21378, 24886, 25750, 34468, 37567, 6953, 19916, 36858, 34419], 'Bernd': [1833, 18553, 26505, 36810, 442, 12320, 15137, 26876, 1825, 6012, 37000, 6070], 'Bert': [6033, 8733, 30206, 35207, 9674, 23287, 28041, 28425, 30551, 38221, 9965, 33600], 'Bezlikiy_Djo': [10512, 1009, 6063, 9120, 12749, 23733, 27740, 32824, 36365, 2916, 19097, 25174], 'Bill': [1123, 4836, 22377, 30309, 37759, 5805, 7601, 27790, 37090], 'Bob': [13396, 13788, 13920, 31114, 34631, 36643, 38566, 37534, 1872, 9958, 18621, 29128, 35133, 17601, 28890, 7761], 'Brandon': [16195, 22110, 33858, 37075, 38452, 29394, 36793, 27730], 'Brian': [1412, 15557, 15855, 19369, 19425, 22637, 28308, 28866, 34256, 38211, 4882, 16712, 23468, 24918, 24996, 33092, 37558, 2847, 4239, 17055, 30873, 36300], 'Bruno': [281, 7643, 20230, 27166, 29330, 29614, 31888, 32254, 35117, 28748, 19457, 12696], 'Capyto': [427, 521, 5685, 7259, 8260, 11114, 15389, 21441, 21782, 22701, 24088, 25004, 26502, 27739, 32000, 34261, 34282, 36187, 36331, 36787], 'Carlo': [3062, 9038, 13665, 17177, 18707, 26576, 30054, 30972, 35382, 36959, 37550, 19597, 30495, 9369, 938, 24814], 'Carlos': [2129, 3247, 3425, 3640, 4461, 9755, 12198, 12228, 13046, 14272, 14466, 18100, 19760, 20882, 24352, 24805, 26441, 29158, 31826, 32044, 33250, 33476, 36722, 5109, 15880, 22726, 27126, 27639, 31045, 33339, 36706, 3716, 10230, 32842, 36050, 7898, 12915, 17559, 7172, 7541, 13131], 'Carmen': [10050, 17332, 34427, 4909, 19322, 30044, 23769, 32375, 201, 20325, 33242], 'Carol': [9612, 14151, 28010, 25995], 'Charles': [24092, 26255, 34909, 8193, 9978, 26784], 'Charlie': [84, 24246, 29505, 13525, 2422, 4075], 'Chiara': [6425, 10433, 14614, 16331, 19801, 21026, 24098, 25861, 35804, 10612, 16856, 18541], 'Chris': [1668, 3239, 3355, 4087, 4341, 5042, 5946, 6241, 6834, 6861, 6903, 8889, 9630, 11693, 13716, 14595, 14843, 15334, 17639, 20643, 20965, 22522, 24138, 24406, 24545, 28690, 30104, 30544, 31285, 31429, 32558, 33634, 34037, 34693, 35137, 36381, 28374, 6027, 20691, 30211, 31769, 4299, 6468, 6954, 16977, 30510, 34007, 35941, 36451, 37782, 29304, 31745, 38075, 20008, 31640, 4168, 5704, 6400, 16231, 22872, 35907], 'Christian': [4112, 4148, 6037, 11932, 12173, 14251, 16817, 17827, 18129, 19040, 27459, 29493, 31060, 32274, 32968, 33025, 34299, 34926, 35309, 35338, 36401, 37120, 37328, 3935, 38673, 380, 4788, 8424, 13152, 16682, 20809, 25038, 30040, 34517, 21068, 34823, 11123, 17887, 24263, 31134, 31298, 34590], 'Christina': [13789, 22296, 29950, 30052, 37463, 3131, 34822, 13686, 13917, 17579, 17876, 21017], ...}

In [43]:
#top 5 recommendations for the customer "Albert"
top_5_recommendations.query('uid=="Albert"')

,uid,iid,r_ui,est,details
17390,Albert,Smartphone Samsung Galaxy S III Neo Duos Branc...,10.0,5.0,"{'actual_k': 1, 'was_impossible': False}"
18895,Albert,"HTC Evo 3D Smartphone (10,9 cm (4,3 Zoll) Disp...",10.0,5.0,"{'actual_k': 0, 'was_impossible': False}"
23592,Albert,Microsoft Lumia 950 XL 5.7 inch 32 GB SIM Smar...,10.0,5.0,"{'actual_k': 1, 'was_impossible': False}"
32907,Albert,Samsung Galaxy S4 (I9505) - Smartphone libre A...,10.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
730,Albert,Samsung Galaxy S7 Edge zwart / 32 GB,9.0,5.0,"{'actual_k': 5, 'was_impossible': False}"

In [44]:
df_test_pred.query('uid=="Albert"')

,uid,iid,r_ui,est,details
17390,Albert,Smartphone Samsung Galaxy S III Neo Duos Branc...,10.0,5.0,"{'actual_k': 1, 'was_impossible': False}"
18895,Albert,"HTC Evo 3D Smartphone (10,9 cm (4,3 Zoll) Disp...",10.0,5.0,"{'actual_k': 0, 'was_impossible': False}"
23592,Albert,Microsoft Lumia 950 XL 5.7 inch 32 GB SIM Smar...,10.0,5.0,"{'actual_k': 1, 'was_impossible': False}"
32907,Albert,Samsung Galaxy S4 (I9505) - Smartphone libre A...,10.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
730,Albert,Samsung Galaxy S7 Edge zwart / 32 GB,9.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
28186,Albert,"MICROSOFT Lumia 650 - 16 GB, Black",9.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
5207,Albert,Huawei P8 grijs / 16 GB,8.0,5.0,"{'actual_k': 5, 'was_impossible': False}"
17063,Albert,Huawei P8 grijs / 16 GB,8.0,5.0,"{'actual_k': 5, 'was_impossible': False}"

10. In what business scenario you should use popularity based Recommendation Systems ?

ans: Non-personalized or popularity recommendations, which simply recommend what’s popular among all users, and personalized ones, making suggestions based on the information about the content or the user’s rating(viewing habits in case of movies or series or reading habits in a book recommender system or listening rate as in music recommender system). In a gist it works with the trend and works well with all commercial applications services where it recommends most popular ones to all users irrespective of the individual interests and tastes  (even when a new user is signed in).

11. In what business scenario you should use CF based Recommendation Systems
ans: This is a recommender system which is solely based on previous interactions of the user with the item which have been recorded so that new recommendations are provided.The CF recommender finds similar users' interests and classify users into clusters of similar types and recommends products to a user according to the preference of the cluster he or she belongs to.
This works well with product recommenders in online shopping business or Netflix like scenario where it requires no information about new users.

12. What other possible methods can you think of which can further improve the recommendation for different users ?
ans: In the item based collaborative filtering Framework the concept of "model size" revolves around the idea that enoough information about a user's preference lies in a subset opf items they have already rated hughly. the model size is a neighborhood of most similar item foe any given active item rated by the active user. Working with the entire user list quickly becomes computaionally too intensive. so Operating on neighborhood of items reduces the time taken to make predictions . but this has the problem of data sparsity problem which can be solved by a "Hybrid " approach.A general unified model which incorporates both content based and collaborative filtering could be developed.